{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('is-not-fully-requested-notice') %}
        <div class="g-row">
            <div class="g-12">
                <div class="f-message"> {{ flashMessage }} </div>
            </div>
        </div>
    {% endfor %}

    <div class="g-row">
        <div class="g-3" style="text-align: center">
            <img
                    style="border-radius: 150px"
                    src="{{ user.profile_picture }}" alt="{{ user.username }}">
            <a
                    style="font-size: 1.2em; font-weight: bold; text-decoration: none;"
                    href="https://instagram.com/{{ user.username }}/"
                    target="_blank">
                {{ user.username }}
            </a>
        </div>
        <div class="g-9">
            {% for image in links %}
                <img
                        src="{{ image.url }}"
                        alt="{{ image.url }}"
                        style="width: 100px; border: 1px solid {{ image.color }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}