{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('is-not-fully-requested-notice') %}
        {% if imagesIsFound %}
            <div class="g-row">
                <div class="g-12">
                    <div class="f-message">
                        <h3>{{ flashMessage }}</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="g-row">
        <div class="g-12">
            <h1 style="text-align: center">Images from {{ sourceSuffix }}</h1>
        </div>
    </div>

    <div class="g-row">
        <div class="g-3" style="text-align: center">
            <img
                    style="border-radius: 150px"
                    src="{{ user.profile_picture }}" alt="{{ user.username }}">
            <a
                    style="font-size: 1.2em; font-weight: bold; text-decoration: none;"
                    href="https://instagram.com/{{ user.username }}/"
                    target="_blank">
                {{ user.username }}
            </a>
        </div>
        <div class="g-9">
            {% dump(palette) %}
            {% if palette %}
                <div class="g-row">
                    <div class="g-2"><span>Requested palette:</span></div>
                    <div class="g-7">
                        <div style="
                                height: 18px;
                                width: 100%;
                                background-color: {{ palette }};
                                border-radius: 6px;"></div>
                    </div>
                </div>

            {% endif %}
            <div class="g-row">
                <div class="g-9">
                    {% if imagesIsFound %}
                        {% for image in links %}
                            <img
                                    src="{{ image.url }}"
                                    alt="{{ image.url }}"
                                    style="width: 100px; border: 1px solid {{ image.color.hex }}">
                        {% endfor %}
                    {% else %}
                        <h3>Images not found</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}