{% extends 'base.html.twig' %}

{% block body %}
    <div class="g-row">
        <div class="g-12">
            {{ form_start(form) }}
            <div class="g-row">
                <div class="g-12">
                    <h1 style="text-align: center">Fill this form with count of media for collage</h1>

                    <h2 style="text-align: center">And check source of media</h2>
                </div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.username) }}</div>
                <div class="g-4" style="text-align: center">{{ form_widget(form.username) }}</div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.username) }}</div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.count) }}</div>
                <div class="g-4" style="text-align: center">{{ form_widget(form.count) }}</div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.count) }}</div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.size) }}</div>
                <div class="g-4" style="text-align: center">{{ form_widget(form.size) }}</div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.size) }}</div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.imagesOnly) }}</div>
                <div class="g-4" style="text-align: center">{{ form_widget(form.imagesOnly) }}</div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.imagesOnly) }}</div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.pattern) }}</div>
                <div class="g-4" style="text-align: center">{{ form_widget(form.pattern) }}</div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.pattern) }}</div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.colorDelta) }}</div>
                <div class="g-4" style="text-align: center">{{ form_widget(form.colorDelta) }}</div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.colorDelta) }}</div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.palette) }}</div>
                <div class="g-4" style="text-align: center">
                    {{ form_widget(form.palette) }}
                    <div id="color-avatar" style="display: inline-block; width: 10px; height: 10px;"></div>
                </div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.palette) }}</div>
            </div>
            <div class="g-row">
                <div class="g-4" style="text-align: right"> {{ form_label(form.usePalette) }}</div>
                <div class="g-4" style="text-align: center">{{ form_widget(form.usePalette) }}</div>
                <div class="g-4" style="text-align: left">{{ form_errors(form.usePalette) }}</div>
            </div>
            <div class="g-row">
                <div class="g-12">
                    <p class="f-buttons" style="text-align: center;">
                        {{ form_widget(form.from_media) }}
                        {{ form_widget(form.from_feed) }}
                    </p>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.colorpicker.js') }}"></script>
{% endblock %}

{% block js_foot %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#form_palette')
                    .colorpicker({
                        flat: true
                    })
                    .on('change', function (event) {
                        var hex = $(event.target).val();

                        $('#color-avatar').css('backgroundColor', '#' + hex);

                        $('#form_usePalette').prop('checked', true);
                    });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/jqueri-ui/themes/ui-darkness/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/colorpicker/jquery.colorpicker.css') }}">
{% endblock %}